body {
  background: url("../assets/background.gif") fixed;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  image-rendering: auto;
  padding: 2px;
  transition: 0.1s ease-in-out all;
  cursor: pointer;
}

img:hover {
  transform: scale(1.3);
  transition: 0.1s ease-in-out all;
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
}

.container {
  margin: 5% auto;
  width: 80%;
}

.module {
  display: inline-flex;
  justify-content: space-around;
  width: 33%;
}

.module-title {
  background: url("https://64.media.tumblr.com/e8836355fb0c73dec4d020c912f89014/1d522aab1e106132-62/s540x810/79d11e66f7fb802a5d1796de2fade8dbbe61ff84.gifv");
  padding: 20px;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  border-radius: 35px 0 35px 0;
}

.module-content {
  padding: 40px;
}

.module-p {
  padding: 5px;
  font-size: 18px;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

a {
  color: rgb(145, 97, 255);
  text-decoration: none;
}
